h1 {
  /* background-color: blue;
  display: inline-block;
  margin: 0; */
}
.span-one {
  /* background-color: #e2680a;
  padding: 20px;
  margin-top: 250px;
  display: inline-block; */
}
.parent {
  position: relative;
  border: 2px solid#000;
  padding: 20px;
  background-color: #999;
  /* margin-top: 20px; */
}
.child {
  position: absolute;
  background-color: #00ffff;
  padding: 10px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
a {
  display: block;
}
a:nth-child(2n -1) {
  font-size: 20px;
  font-weight: 500;
}
a::first-letter {
  font-size: 30px;
}
a:nth-last-child(1) {
  font-size: 50px;
  color: red;
}
a: n;
